// Text
@mixin text($color, $fs, $fw) {
  color: $color;
  font-size: $fs;
  font-weight: $fw;
}
@mixin button {
  margin-top: 20px;
  color: #000;
  border: none;
  outline: none;
  background-color: #fff;
  border: 1px solid #000;
  transition: linear 0.1s;
  padding: 15px 20px;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

@mixin btnClose {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #000;
}
@mixin alignCenter {
  display: flex;
  align-items: center;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin sizeImg($w, $h) {
  width: $w;
  height: $h;
}
@mixin title-line {
  margin: 20px 0;
  width: 45px;
  height: 1px;
  background-color: #000000;
}

@mixin addToCart {
  width: 100%;
  padding: 8px;
  background-color: #000;
  border: 1px solid #fff;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}

@mixin buttonBgBlack {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-size: 10px;
  width: 100%;
  font-weight: 600;
  padding: 13px 5px;
  letter-spacing: 2px;
}
@mixin btnGG {
  background-color: #e94641;
  border: none;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px 0;
  max-width: 280px;
  border: 1px solid #fff;

  &:hover {
    background-color: #fff;
    color: #e94641;
    border: 1px solid #e94641;
  }
}
@mixin btnFace {
  background-color: #3b5998;
  border: none;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px 0;
  max-width: 280px;
  border: 1px solid #fff;

  &:hover {
    background-color: #fff;
    color: #3b5998;
    border: 1px solid #3b5998;
  }
}
