.wrappAccount {
  padding: 20px 20px 0 20px;
  .title {
    text-align: center;
    @include text(#000, 20px, 400);
    padding: 20px 0;
  }
  .Shipping {
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    padding: 10px 0;
    @include text(#000, 15px, 100);
    text-transform: uppercase;
    margin: 10px 0;
    .myAccount {
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      margin: 5px 0;
    }
    .card {
      border: none;
      padding: 0;
      .listIcon {
        .itemIcon {
          display: f lex;
          align-items: center;
          padding: 20px 40px;
          font-size: 15px;
          font-weight: 100;
          transition: ease 0.3s;
          border-bottom: 1px solid #e6e6e6;
          color: #000;
          &:hover {
            background-color: #afafaf;
          }
        }
        .itemIcon.active {
          background-color: #afafaf;
          color: #fff;
        }
      }
    }
  }
  .rmaContent {
    .btnRequest {
      @include buttonBgBlack;
      width: 20%;
    }
    .noHaveRma {
      @include text(#000, 12px, 100);
      text-align: center;
    }
    .back {
      width: 20%;
      @include button;
      padding: 13px 5px;
      border-radius: 0;
    }
  }
  .Subscription {
    .Subscription__form {
      padding: 20px;
      border: 1px solid #e6e6e6;
      .form-check {
        margin: 20px 0;
        font-size: 12px;
      }
    }
    .wrapBtn {
      .back {
        @include button;
        width: 100%;
        padding: 10px 5px;
        border-radius: 0;
      }
      .save {
        @include button;
        width: 100%;
        padding: 10px 5px;
        border-radius: 0;
        background-color: #000;
        color: #fff;
      }
    }
  }
  .noti {
    p {
      text-align: center;
    }
    .back {
      @include button;
      width: 20%;
      padding: 8px 0;
    }
  }
  .wrappAccount__body {
    padding: 20px 0;
    .list {
      .item {
        text-align: center;
        padding: 60px 0;
        color: #000;
        font-size: 15px;
        margin: 10px 0;
        cursor: pointer;
        border: 1px solid #e6e6e6;
        transition: ease-in-out 0.5s;
        &:hover {
          color: #afafaf;
          background: #fff;
        }
        i {
          font-size: 28px;
        }
      }
      .item.active {
        background-color: #e6e6e6;
        &:hover {
          color: #000;
          background-color: #afafaf;
        }
      }
    }
  }
  h3 {
    text-align: center;
    @include text(#000, 15px, 100);
  }
  .warpperEdit {
    form {
      border: 1px solid #afafaf;
      padding: 20px;
      font-size: 10px;
      .warppbtn {
        button {
          width: 100%;
          @include button;
        }
        .save {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
  table {
    width: 100%;
    font-size: 12px;
    tbody {
      tr {
        td {
          .addtocart {
            @include buttonBgBlack;
          }
        }
      }
    }
  }
  .warppbtn {
    .back {
      @include button;
      width: 100%;
      padding: 10px 0;
    }
    .save {
      margin-top: 20px;
      @include buttonBgBlack;
    }
  }

  .warppbtnMyWish {
    .back {
      @include buttonBgBlack;
      background-color: #fff;
      color: #000;
      border: 0.5px solid #000;
      width: 50%;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
    .wappbtn--right {
      height: 100%;
      @include alignCenter;
      .btnMutil {
        width: 100px;
        @include buttonBgBlack;
        margin: 0 10px;
      }
    }
  }
}
