.wrappAccount {
  padding: 20px 60px;
  .title {
    text-align: center;
    @include text(#000, 20px, 400);
    border-bottom: 1px solid #660066;
  }
  .wrappColapse {
    .text {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      @include text(#000, 12px, 400);
    }
    .collapse  {
        border: none;
      .card {
        border: none;
        padding: 0;
        .list {
          li {
            padding: 20px 0;
            &:hover {
              background-color: #afafaf;
            }
          }
          li:nth-child(1) {
            background-color: #afafaf;
          }
        }
      }
    }
  }
}
