.warpperSidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 240px;
  background-color: #000;
  text-align: center;
  z-index: 9;

  color: #fff;
  .logo {
    margin: 20% 0;
    .logo__img {
      width: 58px;
      height: 65px;
    }
  }
  .listCategory {
    margin-top: 80px;
    position: relative;
    .item--category {
      text-transform: uppercase;
      font-size: 8px;
      font-weight: 700;
      padding: 10px 0;
      letter-spacing: 2px;
      

      &:hover {
        .item--category_link {
          border-bottom: 1px solid #dfb400;
        }
        .nav-container-backlayer {
          display: block;
          opacity: 1;
        }
      }

      .nav-container-backlayer {
        position: fixed;
        left: 240px;
        width: 240px;
        top: 0;
        height: 100%;
        display: none;
        padding: 200px 0;
        background-color: #20201f;
        transition: ease-in-out 1s;
        z-index: 9;
        opacity: 0;
      }
    }
    .item--category_link:first-child {
      .item--category_link {
        color: #dfb400;
      }
    }
    .nav-container-backlayer {
      .nav-container-backlayer-list {
        .nav-container-backlayer-list-item {
          padding: 10px;
          opacity: 1;
          animation: show linear 1.3s;
          &:hover {
            .nav-container-backlayer-list-item_link {
              border-bottom: 1px solid #dfb400;
            }
          }
        }
        @keyframes show {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
    }
  }

  .listSocial {
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 500;
    margin-top: 50px;
    letter-spacing: 2px;
    .listSocial--item {
      transition: all 0.5s ease;
      padding: 5px 0;
      span {
        padding: 5px 0;
      }
      &:hover {
        span {
          border-bottom: 1px solid #dfb400;
        }
      }
    }
    .social {
      .social--icon {
        font-size: 12px;
        margin: 10px 5px;
        transition: 0.3s linear;
      }
      .social--icon.fa-facebook-f {
        &:hover {
          color: #2e5ba0;
        }
      }
      .social--icon.fa-twitter {
        &:hover {
          color: #3cf;
        }
      }
      .social--icon.fa-youtube {
        &:hover {
          color: #b31217;
        }
      }
      .social--icon.fa-instagram {
        &:hover {
          color: #4972b0;
        }
      }
      .social--icon.fa-pinterest {
        &:hover {
          color: #e72727;
        }
      }
    }
  }
}
