.warpperSpecial {
 
  .special--left {
    text-align: center;
    .special--left--title {
      @include text(#1a1a1a, 1.2rem, 400);
      line-height: 1.4;
      text-transform: uppercase;
      margin: 40px auto 0 auto;
      max-width: 230px;
      letter-spacing: 2px;
    }
    .special--left--info {
      text-align: center;
      max-width: 300px;
      padding-top: 40px;
      margin: 0 auto;
      color: #666;
      font-size: 12px;
      line-height: 1.5;
      font-weight: 100;
      letter-spacing: 2px;
    }
    .social {
      text-align: center;
      i {
        margin: 20px 10px;
      }
    }
    .discover {
      @include button;
    }
  }
}
