.productCart{
    .product__img {
      cursor: pointer;
    }
    .product__des {
      text-align: left;
      padding-bottom: 20px;
      border-bottom: 1px solid #e8e8e8;
      .product__name {
        @include text(#000, 10px, 650);
        letter-spacing: 2px;
      }
      .productSize {
        @include text(#000, 10px, 200);
        letter-spacing: 2px;
      }
      .product__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        letter-spacing: 2px;

        @extend .productSize;
        .close_product {
          cursor: pointer;
          color: #1a1a1a;
        }
      }
    }
  }