.titlePage {
  padding: 40px 0;
  animation: move linear 0.2s;
  .titlePage__text {
    text-align: center;
    @include text(#000, 2rem, 400);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .typeDisplay {
    @include text(#000, 0.7rem, 700);
    letter-spacing: 2px;
    text-decoration: underline;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #333;
      width: 100%;
    }
  }
}

@keyframes move {
  from {
    margin-bottom: 50px;
  }
  to {
    margin: 0;
  }
}
